{% extends 'base.html.twig' %}

{% block body %}
    <h1>Competence</h1>

    <table>
        <tbody>
     

            <tr>
                <th>Skills</th>
                </tr>
              
                
                     {% for i in competences %}
                     {%if i.id_user_id == etudiant.id %}
                <tr>
                <td>{{ i.name }}</td>
            </tr>
                    {% endif %}
                    {% endfor %}
                
                
     
        </tbody>
    </table>

  
{% endblock %}
